
* {
    font-family: 'Josefin Sans', sans-serif;
}

.heading {
    color: #FFF;
    letter-spacing: 1rem;
}

.background {
    background-image: url("../src/images/bg-desktop-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 0;
}

.darkMode {
    background-color: black;
}

.totalItems {
    color: #9495A5;
    font-weight: 700;
}

.todoItems {
    color: #494C6B;
}

.clearItemsBtn {
    color: #494C6B;
}